* {
    box-sizing: border-box;
  }

body {
    background-color: #3D7DCA;
    color: #000000;
    margin: 0;
    padding-inline: 40px;
    font-family: Quicksand, sans-serif;
}

.container-logo {
    display: flex;
    justify-content: center;
    padding-block: 40px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.tabs {
    font-size: 20px;
    background-color: #2C2D9A;
    color: #FFDE00;
    border: solid 1px #000000;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.25s;
}

.tabs:hover {
    background-color: #FFDE00;
    color: #2C2D9A;
    cursor: pointer;
    transform: translateY(-3px);
}

#search-input {
    background-image: url('../media/search_icon.png');
    background-position: 10px 12px;
    background-size: 20px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#pokedex, #moves, #abilities {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.card {
    list-style: none;
    background-color: #FFFFFF;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
}

.card-id {
    color: #666666;
}

.card-image {
    height: 180px;
}

.card-name {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}

#pokemon-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #666666;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

#close-popup {
    background-color: #3D7DCA;
    padding: 10px 20px;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    transition: transform 0.25s;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
}

#close-popup:hover {
    background-color: #FFFFFF;
    color: #3D7DCA;
    cursor: pointer;
    transform: translateY(-3px);
}

.pokemon-popup-content {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 15px;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll
}

.popup-title {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0px;
}

.popup-image {
    opacity: 1;
    height: 300px;
    padding-right: 20px;
}

.popup-info {
    padding-left: 20px;
}

.table{
    width: 100%;
    column-count: 6;
    display: inline-block;
    column-gap: 0px;
    text-transform: capitalize;
}

.table-cell {
    border: solid 1px #000000;
    text-align: center;
    margin: 0;
    padding: 5px;
}

#random-button {
    cursor: pointer;
    width: 10%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #DDDDDD;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #666666;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 15px;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
}

.popup-title, .popup-subtitle, .stats {
    padding: 0;
    text-transform: capitalize;
}

.bar {
    display: flex;
    justify-content: center;
}

.bar > * {
    margin: 10px;
    padding: 10px;
}

.bar-text {
    font-size: 20px;
    color: #FFDE00;
    padding: 10px;
}